.form-translate {
    margin-top: 40px;
    text-align: center;
    color: cornflowerblue;
}
.form-translate textarea {
    min-height: 200px;
    width: 80%;
    resize: none;
}
.form-translate input[type="submit"] {
    max-width: 200px;
    margin-left: 40%;
}
